@charset "Shift_JIS";

* {
	margin: 0;
	padding: 0;
}

body {
	
	background-image: url(../image/yuki3.gif);
	background-repeat: repeat-xy;
	text-align: center;
background-color: #ffffff ;}

a img {
	border: outset #ffffff ;
}

div#pageWrapper {
	width: 780px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-image: url(../image/yuki3.gif);
	text-align: left;
}

div#contentsWrapper {
	width: 770px;
	margin-bottom: 0px;
	
	background-color: #ffffff ;
overflow: auto;
}

/* old \*/
* html div#pagewrapper{
	width: 780px;
}
/* end \*/

div#header {
	width: 770px;
	height: 210px;
	margin-bottom: 0px;
	background-image: url(../image/pen1.png);
}

div#mainContents {
	float: right;
	width: 530px;

}

div#nav {
	float: left;
	display: inline;
	width: 240px;
	height:700px;
	margin-top: 0px;
	margin-right: 0px;
	background-color: #ffffff ;
}

div#nav h3 {
	margin: 10px 0 3px 10px;
}

div#nav ul {
	list-style-type: none;
}

div#nav ul li {
	margin-left: 10px;
	margin-bottom: 3px;
}

div#nav img {
	vertical-align: bottom;
}

div#nav a:hover {
	position: relative;
	left: 3px;
}

div#footer {
	clear: both;
	width: 770px;
	height: 80px;
	background-color: #c0c0c0 ;
}

div#footer p {
	padding: 50px 0 0 10px;
	color: #ffffff;
	font-size: 82%;
}

div.contents {
	position: relative;
	width: 413px;
	margin-top: 30px;
	margin-left: 30px;
	padding: 25px 60px 25px 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	background-image: url(../image/main_back.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	line-height: 1.3;
	color: #ccccccc;
	font-size: 83%;
}

div#description p {
	margin: 0 0 10px;
}

h1 {
	padding: 32px 18px 0;
}

h2 {
	position: absolute;
	top: -22px;
	left: -19px;
}

img.selfPortrait {
	float: left;
	margin-right: 10px;
	margin-bottom: 0px;
	border: solid 3px #999;
}

div#about h3 {
	clear: left;
	padding-left: 0px;
	border-left: solid 5px #99cbff;
	font-size: 100%;
}

div#about p.note {
	margin-bottom: 20px;
	padding-left: 10px;
}

div#about ul {
	list-style-type: none;
	margin-bottom: 20px;
	padding-left: 10px;
}

div#about ul li {
	display: inline;
}